:root {
  --background: #ffffff;
  --foreground: #000000;
  --font-main: "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --red-supreme: #d01d1d;
  /* Approximate Supreme red */
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; Removed to fix position: sticky */
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Utilities */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-logo {
  background-color: transparent;
  color: #000000;
  padding: 5px 15px;
  font-weight: 900;
  font-style: italic;
  font-size: 6rem;
  display: inline-block;
  letter-spacing: -4px;
  transform: skewX(-15deg);
}

.btn-primary {
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
  padding: 15px 40px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s;
}

.btn-primary:hover {
  background-color: #808080;
  /* Grey background on hover */
  color: #ffffff;
  /* White text on hover for contrast */
  border-color: #808080;
}